.navbar{
  height: 10vh;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  width: 100%;
}


.navbar-logo{
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-family: 'poppins';
  padding-left: 2%;
  
}


.nav-items {
  width: 65vw;
  display: flex;

  margin-right: 2rem;
}


.nav-item {
  list-style: none;
  margin-left: 2rem;

}

.nav-items a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s all ease-out;
  font-size: 1.2em;
  padding: 6px 16px;
  display: flex;
  align-items: center;
}

.nav-item a:hover {
  background-color: #044C6B ;
}
.nav-items a:hover{
color: white;

}


.btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-out;
  font-size: 1.2em;
  padding: 6px 16px;
  display: flex;
  align-items: center;
}

.btn:hover {
  background: whitesmoke;
  color: #044C6B;
}

a {
  text-decoration: none;
}

.btn span {
  margin-left: 0.7rem;
}
.login-btn{
  color: black;
  padding: 6px 46px;

}


/* @media screen and (max-width: 900px) {
  .btn span {
    display: none;
  }

  .login-btn{
 display: none;
    
  }
} */


.toggle-sidebar{

  width: 70vw;
  display: flex;
  justify-content: flex-end;

}

.hamburger-toggle{

font-size: 1.8em;

}


.sidebar{
  width: 190px;
  background-color: #F4F4F4;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: -100%;
  transition: 0.4s all ease-in-out;
}

ul.side-items{
  margin-top: 0px;
  list-style: none;
  font-size: 1.2em;



}

.side-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}


.sidebar-item a{
  color: #0E0B05;
  width: 90px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease-out; 

}

.sidebar-item{
  margin-top: 1.2em;

}

.sidebar .btn {
  margin-top: 1.4rem;
  width: 100%;
}

.sidebar.active{
  left: 0; 
  /* display: block; */
}

